/*Icon Styles*/
.cbi-icon {

  &-views {
    position: relative;
    text-align: center;
    padding: $card-head-padding;
    @include border-radius($border-radius-lg);
    @include transition(all 0.3s ease-out);
    margin-bottom: 15px;
    height: calc(100% - 15px);
    @include flex-display(flex, column, nowrap);
    @include align-items(center);
    @include justify-content(center);

    & .icon {
      margin-bottom: 12px;
      font-size: $h2-font-size;
      @include transition(all 0.3s ease-out);
      line-height: 1;
      display: block;
    }

    &:hover {
      background-color: $primary-color;
      cursor: pointer;
      color: $white-color;

      & .icon {
        @include scale(1.4);
      }
    }
  }

  &-text {
    display: block;
    font-size: $font-size-sm;
  }
}
